services:
  emailarchive:
    build: .
    environment:
      NODE_ENV: production
      PORT: "3001"

      FRONTEND_URL: https://emailarchive.michaelroy.ca
      JWT_SECRET: ${JWT_SECRET}

      GMAIL_CLIENT_ID: ${GMAIL_CLIENT_ID}
      GMAIL_CLIENT_SECRET: ${GMAIL_CLIENT_SECRET}
      GMAIL_REDIRECT_URI: https://emailarchive.michaelroy.ca/api/auth/gmail/callback

      OPENAI_API_KEY: ${OPENAI_API_KEY}

    volumes:
      - emailarchive_storage:/app/backend/storage
      - emailarchive_config:/app/backend/config

    expose:
      - "3001"

volumes:
  emailarchive_storage:
  emailarchive_config:

